<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        stopOnFailure="false"
        colors="true"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>